
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <h1>
            Welcome To MVC Application
            <br />
            @Html.ActionLink("search", "search", "Product")
            <br />
            @Html.ActionLink("NewProduct","NewProduct","Product")
        </h1> 
    </div>
</body>
</html>
