
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>view_updated</title>
</head>
<body>
    <div align="center">
        <h1>
            Product Details Updated Successfully
            <br />
            @Html.ActionLink("Go Back", "search", "Product")
        </h1> 
    </div>
</body>
</html>
